    html,
    body,
    .container-fluid {
        height: 100%;
        width: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .col-md-2 .sidebar{
        height: 100%;
    }

.bg-header{
    background-color: #0b4160;
}
.bg-nav{
    background-color: #78b6db;
}

.header {
    font-display: block;
    text-align: center;
    font-size: 25px;
    
}


/* Thanh .sidebar */

.sidebar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #222d32;
    list-style-type: none;
    color: rgb(219, 228, 237);
    transition: background-color 0.3s ease;
    padding: 5px;
}
.sidebar-header{
    font-size: 20px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    color: rgb(219, 228, 237);
    padding-top: 7px;
}
.sidebar-menu{
    font-size: 15xp;
}
.sidebar-menu .menu-list{
    /* margin: 5px; */
    padding: 2px;

}
.sidebar-menu .menu-list li{
    list-style-type: none;
    width: auto;
}
.sidebar-menu .menu-list li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: #b9bbbc;
    padding: 5px;
}
.sidebar-menu .menu-list li :hover {
        color: rgb(255, 255, 255);
        background-color: #2e3b41;
}
.sidebar-menu .menu-list li ul :hover {
    color: rgb(242, 8, 113);
    border-left: none;
}

.menu-list li .submenu {
    display: none;
}

.menu-list li:focus .submenu,
.menu-list li:hover .submenu {
    display: block;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    border-top: 1px solid #ccc;
}


/* Trang ad_index.php */
a{
    text-decoration: none;
    list-style-type: none;
}
.content-wrapper .content-header{
    font-size: 20px;
    
}
.content-wrapper .content-header small{
    font-size: small;
    color: #969a9b;
}


.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 80px;
    right: 10px;
    border-radius: 2px;
}

.content_sach{
    margin-left: 60px;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
}

.small-box-footer{
    color: #ffffff;
    font-size: 20px;

}

/* 
Trang quản lý sách */

.box-header{
    justify-content: center;
    text-align: center;
}
/* Trang thêm sách */
.ad_themsp{
    font-size: 15px;
}
.ad_themsp .box-body .form-group{
    margin: 6px;
    padding: 5px;
}

/* Trang thêm sách */
.ad_suasp {
    font-size: 15px;
}

.ad_suasp .box-body .form-group {
    margin: 6px;
    padding: 5px;
}

#toltal {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: end;
    text-decoration: overline;
    color: black;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
}



/* Trang login */

/* .container_adlogin{
    font-weight: 25px;
    display: block;
    justify-content: center;
    text-align: center;
    
}

.form-box{
    height: 50px;
  

}
.container_adlogin .form-box .form-top{
    border-radius: 1px solid black;
} */